:root {
    --primary-text-color: #212121;
    --text-color: #757575;
    --accent-color: #2196F3;
    --logo-color: #000000;
    --white-color: #FFFFFF;
    --contact-color: rgba(255, 255, 255, 0.6);
    --bg-color: #2F303A;
    --text-shadow: rgba(0, 0, 0, 0.25);
    --site-bg: #F5F5F5;
    --bg-button: #F5F4FA;
    --hidden-bg: #188CE8;
    --herader-border: #ECECEC;
    --border-bottom: #EEEEEE;
    --overlay: rgba(47, 48, 58, 0.4);
    --overlay2: #C4C4C4;
    --bg-logo: #AFB1B8;
    --bg-social: rgba(255, 255, 255, 0.1);
    --modal-bg: rgba(0, 0, 0, 0.2);
    --checkholder: rgba(117, 117, 117, 0.5);

}